.table-container {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.table-header {
    background-color: #f5f7fa;
    color: #909399;
    font-weight: bold;
    display: flex;
}

.table-row {
    display: flex;
    /* background-color: #ffffff; */
    width: fit-content;
}

.table-cell {
    width: 100px;
    height: 60px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 12px 16px;
    border-bottom: 1px solid #ebeef5;
    border-right: 1px solid #ebeef5;
    text-align: left;
    cursor: pointer;
    min-height: 48px; /* Ensure uniform height */
    box-sizing: border-box;
}

.table-cell:last-child {
    border-right: none;
}

.table-cell:hover {
    background-color: #f5f7fa;
}

.table-row.selected {
    background-color: #ecf5ff;
}

.row-label {
    width: 100px;
    background-color: #f5f7fa;
    color: #909399;
    font-weight: bold;
}
