<!doctype html>
<html lang="zh">

<head>
    <meta charset="utf-8" />
    <title>六星干员投票箱</title>
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../static/css/base.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/compare.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/transfer.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/table.css" />
    
</head>

<body onload="new_compare();">
    <div class="bg">
        <div class="block">
            <div class="com">
                <table class="compare">
                    <tr>
                        <!-- 左侧干员图片 在new_compare函数GET成功后更新 -->
                        <td>
                            <div class="operator-container" onclick="save_score_left()">
                                <img id="left_png">
                                <div class="zh" id="left_png_name"></div>
                            </div>
                        </td>

                        <!-- 比较核心区域 -->
                        <td>
                            <!-- 标题 -->
                            <h1 class="compare_header">明日方舟六星</h1>
                            <h1>强度投票箱</h1>
                            <br>
                            <!-- 按钮和反馈 -->
                            <div class="compare_block">
                                <h4 id="toupiao_success">&nbsp;</h4>
                                <div class="function">
                                    <input class="skip" type="button" value="跳过，换一组" onclick="new_compare()">
                                </div>
                                <!-- <div class="function">
                                    <input class="result" type="button" value="查看总投票结果" onclick="close_or_view()">
                                    <input class="close" type="button" value="关闭总投票结果" onclick="close_or_view()">
                                </div> -->
                                <div class="function">
                                    <input class="result" id="self_rst_button" type="button" value="查看您的投票结果"
                                        onclick="view_self()">
                                </div>
                                <div class="function">
                                    <input class="result" id="vote_1v1_matrix_trigger" type="button" value="查看1v1对位矩阵"
                                        onclick="trigger_vote_1v1_matrix_visible()">
                                </div>
                            </div>
                        </td>
                        <!-- 右侧干员图片 -->
                        <td>
                            <div class="operator-container" onclick="save_score_right()">
                                <img id="right_png">
                                <div class="zh" id="right_png_name"></div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- footer部分 -->
            <div class="footer">
                <table style="width: 100%"><tr>
                    <td>
                        <h3 class="move-up-animation red_text">净罪作战正式投票 2月19日05:00~2月26日04:59</h3>
                        <h3 class="move-up-animation red_text">本次投票已结束，最终结果稍后公布。</h3>
                        <h3 class="move-up-animation red_text">新增随机血狼金曲！按一下随机播放/停止 → </h3>
                    </td>
                    <td>
                        <img id="playPauseBtn" src="../static/img/xuelangdahui.jpg" alt="播放/暂停" style="cursor: pointer; width: 100px; height: auto;">
                        <audio id="audio" preload="none" loop>

                        </audio>
                    </td>
                </tr></table>
            </div>

            <div class="footer">
                <div class="link-container">
                    <h3>投票箱唯一网址:
                        <a href="https://vote.ltsc.vip">
                            https://vote.ltsc.vip
                        </a>
                    </h3>
                </div>

                <br>

                <h4>V2.0.0 净罪作战 网站完全重构！投票更流畅了！！ </h4>
                <h4>特别感谢 @qwerdvd 做出了巨大的贡献，巨大的carry </h4>

                <br>
                <h4>作者：董杭杭, @blackwang08, @lengyanyu258, @lpdink, @hLdont, @qwerdvd</h4>
                <h4>bgm作者: <a href="https://space.bilibili.com/22799131">@理性蒸发人</a>, <a href="https://space.bilibili.com/441494429">@埃里克茨威格</a></h4>
                <h4>服务器赞助：@不会偏微分的fw, 阿里云高校计划, @SkadiD</h4>
            </div>
            <div class="footer">
                <!-- 这里增加了动画效果，类和style的效果如下：
                     red_text：原有的类，令文字呈红色
                     move-up-animation：新建动画类，实现向上的动画，具体内容见css文件
                     animation-delay：对动画的延时，用于使文字展示成从上往下依次出现的效果
                     如果需要修改文字，增加行数，请对应修改延时描述并加上动画类   -->
                <h2 class="move-up-animation" style="animation-delay: 0s;">规则：每次投票，得票+1分，未得票-1分，最后统计所有干员的胜率和得分，以胜率排名。</h2>
                <h2 class="move-up-animation" style="animation-delay: 0.2s;">每个ip只能投100票，自第101票起，每票按0.01票计算权重。</h2>
                <h2 class="move-up-animation" style="animation-delay: 0.4s;">自己的投票结果，不受100票限制，但网页刷新/关闭时会清零。</h2>
            </div>
        </div>
        <div class="block">
            <div class="footer">
                <!-- 这里增加了动画效果 如果需要修改文字，增加行数，请对应修改延时描述并加上动画类   -->
                <h2 class="move-up-animation red_text" style="animation-delay: 0.6s;">警告：由于干员随机抽取，次数并不完全一样，且数据全部来源于网友投票，结果可能存在不少谬误。</h2>
                <h2 class="move-up-animation red_text" style="animation-delay: 0.8s;">仅供娱乐，请勿用作抽卡建议和TTK工具！</h2>
                <h2 class="move-up-animation" style="animation-delay: 0.8s;">出于服务器资源管理考虑，实时投票结果并不会实时存储，刷票等行为导致服务器崩溃将丢失投票结果。</h2>
                <h2 class="move-up-animation" style="animation-delay: 1s;">鸣谢：本投票两两比较的灵感来源于NGA，制作过程中得到了PRTS.wiki，血狼破军和各位群友、网友的支持和建议，在此向各位表示感谢！</h2>
                <h4 class="move-up-animation" style="animation-delay: 1.2s;">本投票反映干员经过实战检验，口碑稳定后的强度评价，请投票前充分考虑合约、肉鸽n12以上、演算陌域n4以上，日常S关。</h4>
                <h4 class="move-up-animation" style="animation-delay: 1.4s;">“自定义聚类数目”功能：聚类数目越多，区分度越高(图中以颜色区分) 默认区分度为 80%</h3>
                    <h4 class="move-up-animation" style="animation-delay: 1.6s;">若要尝试不同的聚类数目，可以在右下方的“分层数”中调整。</h4>
                        <br>
                        
                            <div class="link-container">
                                <h3 class="move-up-animation" style="animation-delay: 1.8s;">本项目已开源至GitHub仓库：
                                    <a href="https://github.com/SYadda/Arknights_6Star_Rank_Vote" class="move-up-animation" style="animation-delay: 1.8s;">https://github.com/SYadda/Arknights_6Star_Rank_Vote</a>
                                </h3>
                            </div>

                            <div class="link-container">
                                <h3 class="move-up-animation" style="animation-delay: 2s;">第三次6星强度投票结果：(截至艾拉)
                                    <a href="https://github.com/SYadda/Arknights_6Star_Rank_Vote/blob/main/result_V1.3.jpeg" class="move-up-animation" style="animation-delay: 2.2s;">https://github.com/SYadda/Arknights_6Star_Rank_Vote/<br>blob/main/result_V1.3.jpeg</a>
                                </h3>                                
                            </div>

                        
                            <div class="link-container">
                                <h3 class="move-up-animation" style="animation-delay: 2.2s;">6星厨力投票结果：
                                    <a href="https://nga.178.com/read.php?tid=39828466" class="move-up-animation" style="animation-delay: 2s;">https://nga.178.com/read.php?tid=39828466</a>
                                </h3> 
                            </div>

                            
                            <div class="link-container">
                                <h3 class="move-up-animation" style="animation-delay: 2.4s;">第二次6星强度投票结果：(截至锏)
                                    <a href="https://nga.178.com/read.php?tid=38662591" class="move-up-animation" style="animation-delay: 2.4s;">https://nga.178.com/read.php?tid=38662591</a>
                                </h3>
                            </div>

                            
                            <div class="link-container">
                                <h3 class="move-up-animation" style="animation-delay: 2.6s;">第一次6星强度投票结果：(截至涤火杰西卡)
                                    <a href="https://nga.178.com/read.php?tid=38050985" class="move-up-animation" style="animation-delay: 2.6s;">https://nga.178.com/read.php?tid=38050985</a>
                                </h3>
                            </div>

                            <div class="link-container">
                                <h3 class="move-up-animation" style="animation-delay: 2.8s;">萨米收藏品投票结果：(不含DLC)
                                    <a href="https://nga.178.com/read.php?tid=38174026" class="move-up-animation" style="animation-delay: 2.8s;">https://nga.178.com/read.php?tid=38174026</a>
                                </h3>
                            </div>
                            
                        
                        
            </div>
        </div>
        
        <!-- 不可见数据部分,在获取数据后展示 -->
        <div class="final">
            <br>
            <h1 id="已收集数据量">&nbsp;</h1>
            <h1 id="您已投票">&nbsp;</h1>

            <br>
            <div class="final_table_group">
                <table id="final_order_table" class="final_table">
                    <caption>总投票结果</caption>
                    <thead>
                        <tr>
                            <th>杯型</th>
                            <th>排名</th>
                            <th>干员代号</th>
                            <th>胜率</th>
                            <th>得分</th>
                        </tr>
                    </thead>
                    <tbody id="final_order_tbody"></tbody>
                </table>
                <table id="self_table" class="final_table">
                    <caption>您的投票结果</caption>
                    <thead>
                        <tr>
                            <th>杯型</th>
                            <th>排名</th>
                            <th>干员代号</th>
                            <th>胜率<span id="win_rate" class="sort-icon select down" onclick="sort_table(this)"></span>
                            </th>
                            <th>得分<span id="scores" class="sort-icon down" onclick="sort_table(this)"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="self_order_tbody"></tbody>
                </table>
            </div>
        </div>

        <!-- 不可见数据部分，在获取1v1投票矩阵后展示 -->
        <div id="vote_1v1_matrix_container" class="footer">
            <div id="operators-1v1-transfer"></div>
            <input class="operators-1v1-button" type="button" onclick="calculate_operators_1v1_matrix()" value="查看所选对位数据" />
            <input class="operators-1v1-button" type="button" onclick="clear_operators_1v1_matrix()" value="清空全部数据" />
            <div id="operators-1v1-table"></div>
        </div>

        <img id="mouse_follower" src='../static/img/夕trans.gif' alt="夕trans">
        <div class="nclassesInput">
            <label for="nclassesInput">分层数：</label>
            <input id="nclassesInput" style="font-size: medium;" type="number" min="1" max="9" value="6">
            <!-- <br> -->
            <!-- <label for="tokenInput">存档秘钥：</label> -->
            <!-- <input id="tokenInput" style="font-size: medium;"> -->
            <br>
            <label for="GVF">区分度:</label>
            <label id="GVF"></label>
            <!-- <br> -->
            <!-- <input type="button" class="ioport" onclick="upload()" value="上传个人结果"> -->
            <!-- <br> -->
            <!-- <input type="button" class="ioport" onclick="sync()" value="同步个人结果"> -->
            <!-- <br>
            <input type="button" class="ioport" onclick="export_rst()" value="导出个人结果">
            <br>
            <label for="uploadImage" class="ioport">导入个人结果</label>
            <input type="file" name="image" value="" id="uploadImage" hidden="hidden" onchange="import_rst(event)"
                accept=".json" multiple="false"> -->
        </div>
        <button id="topBtn" onclick="scrollToTop()">回到顶部</button>
        <button id="refreshBtn" onclick="view_final_order()">刷新总榜数据</button>
        <div class="background"></div>
    </div>

    <script type="text/javascript" src="../static/js/datadict.js"></script>
    <script type="text/javascript" src="../static/js/id_operator.js"></script>
    <!-- <script src="https://cdn.bootcdn.net/ajax/libs/lz-string/1.5.0/lz-string.min.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/fzstd/umd/index.js"></script> -->
    <script type="text/javascript" src="../static/js/geostats.min.js"></script>
    <script type="text/javascript" src="../static/js/palette.min.js"></script>
    <script type="text/javascript" src="../static/js/transfer.js"></script>
    <script type="text/javascript" src="../static/js/table.js"></script>
    <script type="text/javascript" src="../static/js/page.js"></script>
</body>

</html>
